<div class="post-content">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <div class="ui segment content-height">
        <div class="width">
          <h2><a href="/stock/<%= type %>/<%= stock.articleId %>"><%= stock.title %></a></h2>
          <br>
          <br>
          <h5><a href="/stock/<%= type %>/<%= stock.articleId %>">View ALL</a></h5>
          <br>
          <br>
          <br>
          <span class="tag ">
            <span>浏览(<%= stock.pv %>)</span>
          </span>
        </div>

        <div class="right">
          <img src="/img/article.jpg" alt="article-img">
        </div>
      </div>
    </div>


  </div>
</div>
