<div class="post-content">
  <div class="ui grid">
    <div class="three wide column"></div>

    <div class="ten wide column">
      <div class="ui segment">

          <h2><a href="/stock/<%= type %>/<%= stock.articleId %>"><%= stock.title %></a></h2>

          <span class="tag ">
            <span>浏览(<%= stock.pv %>)</span>
          </span>
          <span style="display: inline-block;"><a href="/stock/<%= type %>/<%= stock.articleId %>">View ALL</a></span>

      </div>
    </div>


  </div>
</div>
