<%- include('header') %>
<div class="recommend">
  <div class="ui grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
      <div class="title-cut"><i class="square icon"></i>公众号 | Recom</div>
    </div>
    <div class="three wide column"></div>
  </div>
</div>

<div class="ui grid">
  <div class="three wide column"></div>
  <div class="ten wide column">
    <div class="ui four cards">
      <a class="red card" href="/tech/<%=renderInput.picturename%>">
        <div class="image">
          <img src="/img/<%=renderInput.picturename%>.png" alt="gushequ">
        </div>
      </a>
    </div>
  </div>

</div>



<div class="ui grid ">
  <div class="three wide column"></div>
  <div class="ten wide column">
    <div class="title-cut"><i class="square icon"></i><%=renderInput.blogName %> | ALL</div>
  </div>
  <div class="three wide column"></div>
</div>


<% renderInput.blogContent.forEach(function (tech) { %>
  <%- include('components/tech-content', { tech: tech, type: renderInput.picturename }) %>
<% }) %>

<%- include('footer') %>
