<%- include('header') %>


<div class="post-content">
  <div class="ui grid">
    <div class="three wide column">
    </div>

    <div class="ten wide column">

      <div class="ui segment">
          <h2><%= tech.title %></h2>
          <br>
          <br>
          <%- tech.content %>
          <br>
          <br>
          <br>
          <span class="tag ">
            <span>浏览(<%= tech.pv %>)</span>
          </span>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>
