<%- include('header') %>
<div class="ui four cards">
  <a class="red card">
    <div class="image">
      <img>
    </div>
  </a>
  <a class="orange card">
    <div class="image">
      <img>
    </div>
  </a>
  <a class="yellow card">
    <div class="image">
      <img>
    </div>
  </a>
  <a class="olive card">
    <div class="image">
      <img>
    </div>
  </a>
  <a class="green card">
    <div class="image">
      <img>
    </div>
  </a>
  </a>
</div>

<!-- 股社区 -->
<div class="ui grid blog">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="title-cut"><i class="square icon"></i>股社区</div>
  </div>
  <div class="four wide column"></div>
</div>

<% renderInput.Gushenqu.forEach(function (stock) { %>
  <%- include('components/stock-content', { stock: stock, type: 'Gushenqu' }) %>
<% }) %>

<!-- 范德依彪  -->
<div class="ui grid blog">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="title-cut"><i class="square icon"></i>范德依彪</div>
  </div>
  <div class="four wide column"></div>
</div>

<% renderInput.Fandeyibiao.forEach(function (stock) { %>
  <%- include('components/stock-content', { stock: stock, type: 'Fandeyibiao' }) %>
<% }) %>

<!-- 股蜂乐  -->
<div class="ui grid blog">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="title-cut"><i class="square icon"></i>股蜂乐</div>
  </div>
  <div class="four wide column"></div>
</div>

<% renderInput.Gufengle.forEach(function (stock) { %>
  <%- include('components/stock-content', { stock: stock, type: 'Gufengle' }) %>
<% }) %>


<!-- 财经美女蜗牛妹  -->
<div class="ui grid blog">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="title-cut"><i class="square icon"></i>财经美女蜗牛妹</div>
  </div>
  <div class="four wide column"></div>
</div>

<% renderInput.Caijingmeinv.forEach(function (stock) { %>
  <%- include('components/stock-content', { stock: stock, type: 'Caijingmeinv' }) %>
<% }) %>


<!-- 超短小纯杰  -->
<div class="ui grid blog">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="title-cut"><i class="square icon"></i>超短小纯杰</div>
  </div>
  <div class="four wide column"></div>
</div>

<% renderInput.Chaoduanxiaochunjie.forEach(function (stock) { %>
  <%- include('components/stock-content', { stock: stock, type: 'ChaoduanxiaochunjieModel' }) %>
<% }) %>


<!-- 林奇看盘 -->
<div class="ui grid blog">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="title-cut"><i class="square icon"></i>林奇看盘</div>
  </div>
  <div class="four wide column"></div>
</div>

<% renderInput.Linqikanpan.forEach(function (stock) { %>
  <%- include('components/stock-content', { stock: stock, type: 'Linqikanpan' }) %>
<% }) %>




<%- include('footer') %>
