<%- include('header') %>

<div class="recommend">
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="title-cut"><i class="square icon"></i>公众号 | Recom</div>
    </div>
    <div class="four wide column"></div>
  </div>
</div>

<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui three cards">
      <a class="red card" href="/stock/Gushenqu">
        <div class="image">
          <img src="/img/Gushenqu.png" alt="gushequ">
        </div>
      </a>

      <a class="orange card" href="/stock/Caijingmeinv">
        <div class="image" >
          <img src="/img/Caijingmeinv.png" alt="Caijingmeinv">
        </div>
      </a>

      <a class="yellow card" href="/stock/Chaoduanxiaochunjie">
        <div class="image" >
          <img src="/img/Chaoduanxiaochunjie.png" alt="cdxiaochunjie">
        </div>
      </a>

      <a class="olive card" href="/stock/Fandeyibiao">
        <div class="image">
          <img src="/img/Fandeyibiao.png" alt="Fandeyibiao">
        </div>
      </a>

      <a class="green card" href="/stock/Gufengle">
        <div class="image">
          <img src="/img/Gufengle.png" alt="gulefeng">
        </div>
      </a>
      <a class="green card" href="/stock/Linqikanpan">
        <div class="image">
          <img src="/img/Linqikanpan.png" alt="Linqikanpan">
        </div>
      </a>
    </div>
  </div>

</div>


<!-- 股社区 -->
<div class="ui grid blog">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="title-cut"><i class="square icon"></i>股社区</div>
  </div>
  <div class="four wide column"></div>
</div>

<% renderInput.Gushenqu.forEach(function (stock) { %>
  <%- include('components/stock-content', { stock: stock, type: 'Gushenqu' }) %>
<% }) %>

<!-- 范德依彪  -->
<div class="ui grid blog">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="title-cut"><i class="square icon"></i>范德依彪</div>
  </div>
  <div class="four wide column"></div>
</div>

<% renderInput.Fandeyibiao.forEach(function (stock) { %>
  <%- include('components/stock-content', { stock: stock, type: 'Fandeyibiao' }) %>
<% }) %>

<!-- 股蜂乐  -->
<div class="ui grid blog">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="title-cut"><i class="square icon"></i>股蜂乐</div>
  </div>
  <div class="four wide column"></div>
</div>

<% renderInput.Gufengle.forEach(function (stock) { %>
  <%- include('components/stock-content', { stock: stock, type: 'Gufengle' }) %>
<% }) %>


<!-- 财经美女蜗牛妹  -->
<div class="ui grid blog">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="title-cut"><i class="square icon"></i>财经美女蜗牛妹</div>
  </div>
  <div class="four wide column"></div>
</div>

<% renderInput.Caijingmeinv.forEach(function (stock) { %>
  <%- include('components/stock-content', { stock: stock, type: 'Caijingmeinv' }) %>
<% }) %>


<!-- 超短小纯杰  -->
<div class="ui grid blog">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="title-cut"><i class="square icon"></i>超短小纯杰</div>
  </div>
  <div class="four wide column"></div>
</div>

<% renderInput.Chaoduanxiaochunjie.forEach(function (stock) { %>
  <%- include('components/stock-content', { stock: stock, type: 'ChaoduanxiaochunjieModel' }) %>
<% }) %>


<!-- 林奇看盘 -->
<div class="ui grid blog">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="title-cut"><i class="square icon"></i>林奇看盘</div>
  </div>
  <div class="four wide column"></div>
</div>

<% renderInput.Linqikanpan.forEach(function (stock) { %>
  <%- include('components/stock-content', { stock: stock, type: 'Linqikanpan' }) %>
<% }) %>




<%- include('footer') %>
